@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: var(--font-anto), sans-serif;
}

.bg-custom-radial {
  background: radial-gradient(circle, #e0b8ff, #744eb2);
}

.bg-greenApple-radial {
  background: radial-gradient(circle, #E0FFBB, #7AB24E);
}
.bg-bananaContainer-radial {
  background: radial-gradient(circle , #FFE3B8, #D68042)
}